p{
    text-align: center;
}

path {
    stroke: #000;
    stroke-width: 1.5;
    cursor: pointer;
}

text {
    font: 16px sans-serif;
    cursor: pointer;
}

text-anchor{
    overflow: hidden;
}

tspan{
    font: 12px sans-serif;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    text-align: center;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}
/*h1 {
  text-align: center;
  margin: .5em 0;
}*/

.wrapper {
    margin-left: 120px;
}


.node circle {
    cursor: pointer;
    stroke: #3182bd;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
    pointer-events: none;
    /*text-anchor: middle;*/
}

line.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
}
